/* ------------ Stars and Rancking ----------- */
.stars__list {
  width: fit-content;
  margin-top: 0.8em;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.stars__rancking {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-right: 0.5em;
  min-width: 2.5em;
  min-height: 2.1875em;
  background-color: #ffd717;
  color: #222;
  border-radius: 10px;
  font-weight: 800;
}

.stars__icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.stars__icon--dark path {
  fill: #222;
}
