.ms__container-tags {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
}

.ms__tag {
  padding: 0.3em 0.6em;
  background-color: #e7ecee52;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
  font-weight: 600;
  border-radius: 20px;
  color: #f8f8f8;
  text-decoration: none;
}
