.login__title {
    font-size: 4em;
    margin-bottom: 1em;
}

.user {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user__item {
    width: 13em;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4em;
    margin-bottom: 2em;
    padding: 0.5em;
    background: #f8f8f8;
    opacity: 0.8;
    box-shadow: 0 5px 20px 2px rgba(34, 34, 34, 0.2);
    transition: all 0.5s ease;
    border-radius: 10px;
}

.user__item:first-child {
    margin-left: 0;
}

.user__item:hover {
    box-shadow: 0 5px 20px 3px rgba(34, 34, 34, 0.4);
    opacity: 1;
}

.user__img-container {
    width: 100%;
    height: 12em;
    min-height: 12em;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.user__img {
    width: 100%;
}

.user__name {
    font-size: 1.8em;
    margin-top: 0.35em;
    margin-bottom: 0.2em;
    text-align: center;
}

@media (max-width: 1280px) {

    .login__title {
        font-size: 3.2em;
        margin-bottom: 1em;
    }

    .user__item {
        font-size: 14px;
        margin-bottom: 2em;
    }

}

@media (max-width: 768px) {

    .login__title {
        font-size: 3em;
        margin-bottom: 1em;
    }

    .user__item {
        font-size: 8px;
        margin-bottom: 2em;
    }

}