.skeleton-user__item {
  width: 13em;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4em;
  margin-bottom: 2em;
  padding: 0.5em;
  background: #f8f8f8;
  opacity: 0.8;
  box-shadow: 0 5px 20px 2px rgba(34, 34, 34, 0.2);
  transition: all 0.5s ease;
  border-radius: 10px;
  animation: anim-opacity 1s infinite;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.skeleton-user__item:first-child {
  margin-left: 0;
}

.skeleton-user__img-container {
  width: 100%;
  height: 12em;
  max-height: 12em;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #a0a0a0;
}

.skeleton-user__name-container {
  width: 100%;
  height: 1.7em;
}

.skeleton-user__name {
  display: block;
  width: 100%;
  height: 80%;
  margin-top: 0.35em;
  margin-bottom: 0.2em;
  background-color: #a0a0a0;
  border-radius: 10px;
}

@keyframes anim-opacity {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 1280px) {
  .skeleton-user__item {
    font-size: 14px;
    margin-bottom: 2em;
  }
}

@media (max-width: 768px) {
  .skeleton-user__item {
    font-size: 8px;
    margin-bottom: 2em;
  }
}
