.user-card {
  width: 13em;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4em;
  margin-bottom: 2em;
  padding: 0.5em;
  background: none;
  transition: all 0.5s ease;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.user-card__container {
  width: 100%;
  max-height: 12em;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.user-card__img {
  width: 100%;
}

.user-card__name {
  font-size: 1.8em;
  margin-top: 0.35em;
  margin-bottom: 0.2em;
  text-align: center;
}

.user-card:first-child {
  margin-left: 0;
}

.user-card:hover .user-card__container {
  box-shadow: 0px 0px 0px 0.4em #f96d00;
}

.user-card:hover {
  opacity: 1;
}

@media (max-width: 1280px) {
  .user-card {
    font-size: 14px;
    margin-bottom: 2em;
  }
}

@media (max-width: 768px) {
  .user-card {
    font-size: 8px;
    margin-bottom: 2em;
  }
}
