.skeleton-card-image {
    font-size: 14px;
    display: inline-block;
    width: 13.75em;
    height: 20em;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 1em;
    margin-bottom: 0.5em;
    background-color: #fff;
    animation: anim-opacity 1s infinite;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.skeleton-card-image__label {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color: #222;
    opacity: 0.2;
    width: 50%;
    height: 2em;
    border-radius: 10px;
}

@keyframes anim-opacity {
    0%   {opacity: 0.5;}
    50%  {opacity: 1;}
    100% {opacity: 0.5;}
}

@media (max-width: 768px) {
    .skeleton-card-image {
        font-size: 1em;
    }
}